.checked {
  background: rgba(0, 0, 0, 0) url("../img/square_check.png") no-repeat scroll left center;
  height: 30px;
  display: block; }

.item-data-cont {
  background: #fefefe none repeat scroll 0 0;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px; }

.data-cont {
  padding-left: 10px;
  padding-top: 5px; }

.data-cont .dataInput {
  width: 150px; }

