@import "compass";
@import "mixins";

.eis {

	
	.htmlStatus td
	{
		border: 3px solid #f5f5f5; 
		width: 25px;
		height:25px;
		
	}
	.htmlStatus td
	{
		background: rgba(0, 0, 0, 0) url("../img/check.svg") no-repeat scroll center center;
	}
	.htmlStatus td.disabled
	{
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	} 
	 .status
	{
		
	}
	.status-blue
	{
		background-color:rgb(113, 159, 241) !important;
	}
	.status-red
	{
		background-color:#b90504 !important;
	}
	.status-yellow
	{
		background-color:#ffc300 !important;
	}
	.status-green
	{
		background-color:#387a36 !important;
	}
	.status-ongoing
	{
		background-color:#75041E !important;
	}
	.status-end
	{
		background-color:#041575 !important;
	}
	.col-separator
	{
		
	}
	.multiColInput input[type=text]
	{
		width:150px !important;
	}
	.item-data-cont
	{
		background: #fefefe none repeat scroll 0 0;
    	border: 1px solid #dcdcdc;
    	margin-bottom: 10px;
    	padding:10px;
    
	}
	.item-title-cont
	{
		padding: 5px;
	
	}
	.data-cont
	{
		padding-left:10px;
		padding-top:5px;
	}
	.item-title
	{
		font-weight:bold;
	}
	td.expandCol
	{
		background-color:#fff !important;
	}
	td.details-control
	{
		background: rgba(0, 0, 0, 0) url("../img/details_open.png") no-repeat scroll center center;
    cursor: pointer;
	}
	
	tr.shown td.details-control
	{
		background: #e0e0e0 url("../img/details_close.png") no-repeat scroll center center;
	}
	td.dataTables_empty
	{
		text-align : center;
	}
	.control-group
	{
		margin-bottom: 10px !important;
		display: inline;
	}
	.tableProject thead th
	{
		background-color: #666666 !important;
		color : #fff !important;
	}
	.tableStrategy thead th
	{
		background-color: #9d9d9d !important;
		color : #fff !important;
	}
	.tableActivity thead th
	{
		background-color: #f0efef !important;
		color : #666666 !important;
		
	}
	.library-selector
	{
		width:100% !important;
		
	}
	th.numeric , td.numeric
	{
		text-align :right;
	}
}
.popup-form
{
	.fullwidth
	{
		width:100% !important;
	}
	
	
}
